@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; /* #F9FAFB */
    --foreground: 215 28% 17%; /* #111827 */
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 243 75% 59%; /* #4F46E5 */
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 9% 45%; /* #6B7280 */
    --accent: 199 89% 53%; /* #0EA5E9 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --border: 214 32% 91%; /* #E5E7EB */
    --input: 214 32% 91%;
    --ring: 243 75% 59%;

    --chart-1: 243 75% 59%;
    --chart-2: 199 89% 53%;
    --chart-3: 22 89% 53%;
    --chart-4: 142 71% 45%;
    --chart-5: 282 71% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 243 75% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 9% 45%;
    --accent: 199 89% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 243 75% 59%;
    
    --chart-1: 243 75% 59%;
    --chart-2: 199 89% 53%;
    --chart-3: 22 89% 53%;
    --chart-4: 142 71% 45%;
    --chart-5: 282 71% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
